{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Meus pedidos</p>
        </div>
        {% for pedido in pedidos %}

        <div class="pedido">
          <div class="pedido__cabecalho">
            <div>
              <p><b>Data do pedido</b></p>
              <p>{{ pedido.data_finalizacao }}</p>
            </div>

            <div>
              <p><b>Total</b></p>
              <p>{{ pedido.preco_total }}</p>
            </div>

            <div>
              <p><b>Número do pedido</b></p>
              <p>{{ item.item_estoque.produto.imagem.url}}</p>
            </div>
          </div>

          <div class="pedido__corpo">
            {% for item in pedido.itens %}
            <div>
            <div class="tabela__imagem">
                <img src="{{ item.item_estoque.produto.imagem.url}}" >
            </div>
            <div class="tabela__produto-textos">
              <p><b>{{ item.item_estoque.produto.nome }}</b></p>
              <p><b>Quantidade:</b> {{ item.quantidade }}</p>
              <p><b>Preço:</b> {{ item.preco_total }} </p>
            </div>
        </div>
            {% endfor%}
        </div>
        <p style="margin: 15px;"><b>Endereço:</b> {{ pedido.endereco.cep }}, {{ pedido.endereco.cidade }}, {{ pedido.endereco.estado }} </p>
        </div>

        {% endfor %}


      </div>
    </section>
  </main>

{% endblock %}